html, body, div, p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    border: 1px red solid;
}
.panel-item1 p  {
    color: #e5e7eb;
    font-size: 18px;
}

h3 {
    display: inline;
    color: white;
    font-size: 48px;
    font-weight: 900;
}
.header-container  {
    display: flex;
    height: 15vh;
    background-color: #1f2937;
}

.header-container * {
    height: 30px;
    width: 200px;
    margin-top: 20px;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
}

.header-item-logo  {
    margin-right: 350px;
    margin-left: 175px;
    font-size: 24px;
    font-weight: 900;
}

.header-item:last-child  {
    margin-right: 130px;
}

.panel1-container    {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: #1f2937;
}

.panel1-container *  {
    width: 75vh;
    height: 40vh;
}

.panel-item2    {
    background-color:  grey;
}

.container {
    text-align: center;
    height: 60vh;
  }
  
.boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 130px;
    margin: auto;
  }
  
.box {
    text-align: center;
  }
  
.image-placeholder {
    width: 130px;
    height: 120px;
    border: 2px solid #007bff;
    border-radius: 8px;
  }
  
.panel3-container   {
    height: 60vh;
    background-color: #e5e7eb;  
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
}

.panel3-item    {
    justify-content: center;
    margin-top: 15vh;
    margin-left: 350px;
    margin-right: 350px;
    height: 200px;
}

.panel4-container   {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.panel4-box {
    height: 100px;
    width: 700px;
    background-color: #3882F6;
    border-radius: 5px;
}

.panel4-text    {
    margin-left: 100px;
    margin-top: 0;
    height: 50px;
    width: 400px;
}

.panel4-button {
    margin-bottom: 100px;
    margin-left: 540px;
    height: 24px;
    width: 80px;
    border: 2px white solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding-top: 3px;
    font-size: 12px;
}

.panel4-text   {
    color: white
}

.panel5-container   {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #1f2937;
}

.panel5-text    {
    height: 30px;
    width: 300px;
    color: white;
    text-align: center;
}